doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Infobots.org es un sitio de estadísticas y análisis de convocatorias públicas, licitaciones y noticias relevantes de Bolivia y Chile. Información confiable y actualizada para empresas y usuarios.')
        meta(name='author', content='Infobots.org, estadísticas y análisis de convocatorias en Bolivia y Chile')

        title Infobots

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0
            // Navigation
            include includes/navbar.pug
            // Navigation
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                h1.display-5.fw-bolder
                                    span.text-gradient.d-inline Acerca de Infobots.org
                                p.lead.fw-light.mb-4 Infobots.org es un sitio dedicado a la publicación de estadísticas y análisis sobre convocatorias públicas, licitaciones y noticias relevantes de Bolivia y Chile.
                                p.text-muted.mb-3 Pronto ampliaremos nuestra cobertura a más países de la región.
                                p.text-muted.mb-4 Nuestra misión es ofrecer información precisa y actualizada para facilitar la toma de decisiones de empresas y usuarios interesados en procesos de contratación pública.


        // Footer
        include includes/footer.pug

        include includes/scripts.pug

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
