---
import Layout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Infobots">
  <Navbar />
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Estadísticas de Convocatorias Públicas en Bolivia</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Estadísticas Generales</h2>
                                            <p>Consulta el total de convocatorias procesadas automáticamente en los últimos 45 días. Datos útiles para el seguimiento de oportunidades y análisis de tendencias en el sector público.</p>
                                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="https://convocatorias.infobots.org/#/estadistica">Ver</a>
                                        </div>
                                        <img class="img-fluid" src="assets/esta1.jpg" alt="..." width="300" height="400" />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Estadísticas por Tipo SICOES</h2>
                                            <p>Consulta el total diario de convocatorias clasificadas según el sistema SICOES, ideal para identificar áreas con mayor actividad y oportunidades en licitaciones públicas.</p>
                                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="https://convocatorias.infobots.org/#/estadistipo">Ver</a>
                                        </div>
                                        <img class="img-fluid" src="assets/esta2.jpg" alt="..." width="300" height="400" />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Estadísticas por Clasificación Infobots</h2>
                                            <p>Visualiza el total diario de convocatorias agrupadas por categorías propias de Infobots.org, facilitando el análisis sectorial y temático.</p>
                                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="https://convocatorias.infobots.org/#/estadisgrupo">Ver</a>
                                        </div>
                                        <img class="img-fluid" src="assets/esta3.jpg" alt="..." width="300" height="400" />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Comparativa por Gestión y Tipo</h2>
                                            <p>Compara diferentes gestiones y tipos de convocatorias leídas, clasificadas por el sistema SICOES, para un análisis histórico y estratégico de las contrataciones públicas.</p>
                                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="https://convocatorias.infobots.org/#/estadisgestion">Ver</a>
                                        </div>
                                        <img class="img-fluid" src="assets/esta1.jpg" alt="..." width="300" height="400" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Accede a más información y soporte</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="https://t.me/Idotodobot">Contáctanos por Telegram</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center my-5">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9676834375313066" crossorigin="anonymous"></script>
                            <ins class="adsbygoogle" style="display: block" data-ad-format="fluid" data-ad-layout-key="-gc-v+5r-7l-18" data-ad-client="ca-pub-9676834375313066" data-ad-slot="2686529353"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  <Footer />
</Layout>
