<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto"><div class="small m-0">Copyright &copy; infobots.org 2023</div></div>
      <div class="col-auto">
        <nav>
          <a class="text-muted me-3" href="/">Inicio</a>
          <a class="text-muted me-3" href="/estadisticas.html">Estadísticas</a>
          <a class="text-muted" href="/contact.html">Contacto</a>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-auto"><p class="text-muted small">Infobots.org ofrece estadísticas, análisis y noticias sobre convocatorias públicas y licitaciones en Bolivia y Chile. Información confiable y actualizada para empresas y usuarios.</p></div>
    </div>
  </div>
</footer>
